@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: white;
  box-shadow: 1px 1px 9px rgb(230, 225, 225);
  width:100%;
  display:block;
}


li{
  float:right;
}

li a {
  font-family: "Sofia", sans-serif;
  font-size: 20px;
  display: block;
  color: rgb(8, 6, 6);
  text-align: center;
  padding: 20px 50px;
  text-decoration: none;
  margin-bottom: 5px;
  border: 2px solid white;
  border-radius: 4px;
  

}

/* Change the link color to #111 (black) on hover */
li a:hover {
  border: 2px solid #f70000;
  border-style: solid;
  font-size: 20px;

}


.txt {

  font-family: "Sofia", sans-serif;
  margin-top: 80px;
  margin-bottom: 18px;
  text-align: center;
  margin-left:10%;
  padding: 19px;
  background-color: white;
  box-shadow: 2px 2px 12px rgb(230, 225, 225);
  width: 600px;
  border-radius: 16px;
  color: rgb(38, 75, 0);
  border: 2px SOLID #f70000;
  margin-left: auto;
  margin-right: auto;
  display: block;
  

}

.txt:hover{
  box-shadow: 2px 2px 12px rgb(230, 30, 30);
  cursor: pointer;
}

.logo{
  font-family:"Sofia", sans-serif ;
  color: rgb(38, 75, 0);
  margin:8px;
  float:left;
}


