@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: white;
  box-shadow: 1px 1px 9px rgb(230, 225, 225);
}
.icon{
  margin-top: 13px;
  text-align: center;
  margin-left: 10px;
  font-family: "Sofia", sans-serif;
  text-shadow: 2px 2px 9px blue;
}

.nav-right {
  float:right;
}
li{
  float:left;
}

li a {
  font-family: "Sofia", sans-serif;
 
  font-size: 20px;
  display: block;
  color: rgb(8, 6, 6);
  text-align: center;
  padding: 17px 50px;
  text-decoration: none;
  margin-bottom: 5px;
  border-radius: 4px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: #f70000;
  border-color:  #f70000;
  border-width: 2px;
  border-style: solid;
  font-size: 18px;
  
  
}


.txt {

  font-family: "Sofia", sans-serif;
  margin-top: 90px;
  margin-bottom: 18px;
  text-align: center;
  margin-left: 340px;
  padding: 19px;
  background-color: white;
  box-shadow: 2px 2px 12px rgb(230, 225, 225);
  width: 600px;
  border-radius: 16px;
  color: rgb(38, 75, 0);
  border-color:  #f70000;
  border-width: 2px;
  border-style: solid;
  

}

.txt:hover{
  box-shadow: 2px 2px 12px rgb(230, 30, 30);
  cursor: pointer;
}



.body {

  background-color: white;
  min-height: 100vh;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#scoreBox {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 9px;
  right: 140px;
  font-size: 35px;
  font-weight: bold;
  font-family: 'New Tegomin', serif;

  box-shadow: 1px 1px 8px rgb(230, 225, 225);
    /* rgb(4, 255, 21)*/
  ;

}

#hiscoreBox {
  position: absolute;
  top: 215px;
  right: 140px;
  font-size: 39px;
  font-weight: bold;
  font-family: 'New Tegomin', serif;

  box-shadow: 1px 1px 8px rgb(230, 225, 225);
    /*rgb(4, 255, 21)*/
  ;

}

#scoreBox,
#hiscoreBox {
  /* top: 10px;
    right: 100px; */
  color: rgb(38, 75, 0);
  display: flex;
  flex-wrap: wrap;
  /* background:linear-gradient(rgb(140, 255, 153),rgb(254, 164, 241)); */
  border-radius: 19px;
  font-family: "Sofia", sans-serif;
  float: center;
  padding-left: 100px;

  margin-right: -90px;
  margin-top: 370px;
  width: 350px;
  height: 180px;


}

#board {
  /* background: linear-gradient(rgb(122, 219, 130),rgb(243, 128, 241)); */
  width: 99vmin;

  margin-right: 520px;
  margin-top: 120px;
  margin-bottom: 60px;
  height: 92vmin;
  /* border: 4px solid black; */
  box-shadow: 2px 2px 18px rgb(230, 225, 225);
    /* rgb(31, 215, 43)*/
  ;
  border-radius: 18px;
  display: grid;
  float: center;
  grid-template-rows: repeat(18, 1fr);
  grid-template-columns: repeat(18, 1fr);

}
#hiscoreBox:hover {
  box-shadow: 2px 2px 18px rgb(161, 159, 159);
  
}
#board:hover {
  box-shadow: 2px 2px 18px rgb(220, 116, 116);
  
  
}
#scoreBox:hover {
  box-shadow: 2px 2px 18px rgb(161, 159, 159);
  
}


.head {
  background-color: rgb(190, 240, 10);
 
  /* height:24px;
  width:24px; */
  border: solid rgb(34, 4, 34);
  transform: scale(1.02);
  border-radius: 13px;
  border-width: 2px;
  /* box-shadow: 2px 2px 19px rgb(3, 1, 1); */

}

.snake {
  background-color: rgb(59, 237, 14);
  border: .25vmin solid rgb(225, 215, 215);

  border-radius: 35px;
}

.food {
  background: red;
  border: .28vmin solid black;
  border-radius: 40px;
  animation: food 0.01s infinite alternate linear;
}

.food {
  color: rgb(213, 11, 179);

}

@keyframes food {

  from {
    transform: scale(.9);

  }

  to {
    transform: scale(1);
  }
}